html, body {
  margin: 0;
  height: 100%; /* Asegura que el cuerpo ocupe el 100% de la altura */
}

body.register-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/login.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
}

.register-container {
  position: absolute; 
  top: 50%; 
  left: 76%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(212, 25, 200); /* Fondo semi-transparente */
  padding: 15px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  color: #000000;
  margin-bottom: -20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que el formulario use todo el ancho del contenedor */
}

/* campos vacios */
.register-container label {
  margin-bottom: 1px; /* Espacio entre el label y el input */
  font-weight: bold;
  font-size: 12px; /* Texto del label en negrita */
  color: #000000;        /* Color del texto del label */
  display: block;     /* Asegura que el label esté en una línea separada */
}

.register-container input {
  margin-bottom: 20px; /* Espacio entre los campos de entrada */
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;         /* Asegura que los inputs ocupen el ancho total */
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

.register-container button {
  padding: 10px;
  background-color: #000000; /* Color para el botón de registro */
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100%; /* Asegura que el botón de registro ocupe el ancho total */
  margin-bottom: 0px; /* Espacio entre los botones */
}

.register-container button:hover {
  background-color: #ef1313; 
  /* Color más claro al pasar el mouse para el botón de registro */
}

/* Estilos para el botón de regreso */
.register-container .back-button {
    padding: 10px;
    background-color: #0b0a0a; /* Color para el botón de regreso */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10%;
    height: 10%; /* Ajusta el ancho del botón de regreso */
    margin-right: auto; /* Alinea el botón hacia la derecha */
    position: relative;
    top: -35px;
}

.register-container .back-button:hover {
  background-color: #7a0f12; /* Color más oscuro al pasar el mouse para el botón de regreso */
}